<div>
    <% include adminheader.html %>
  </div>
  <br><br><br><br>
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <div class="card">
    <div class="title" style= "color: rgb(10, 118, 185);"><strong>Purchase Reciept</strong></div>
    <div class="info">
        <div class="row">
            <div class="col-7"> <span id="heading">Date</span><br> <span id="details"><%= orderDetails.createdAt  %> </span> </div>
            <div class="col-5 pull-right"> <span id="heading">Order No.</span><br> <span id="details"><%= orderDetails.orderid  %> </span> </div>
        </div>
        <div>
          <br>
          <div><span id="heading" style= "color: rgb(10, 118, 185);"><strong>User Details</strong></span><br> <span id="details"></span>
            <div>
              <span>Name :</span> <span><%= orderDetails.name  %> </span><br>
              <span>Email Id :</span> <span><%= orderDetails.email  %> </span><br>
              <span>Contact No :</span> <span><%= orderDetails.phoneno  %> </span><br>
              <span>Address :</span> <span><%= orderDetails.address  %> </span><br>
            </div>                 
          </div>
          <br>
          <div><span id="heading" style= "color: rgb(10, 118, 185);"><strong>Product Details</strong></span><br> <span id="details"></span>
            <span class="col-5 pull-right"> <span id="heading">Order Status.</span><br> <span id="details"><%= orderDetails.status  %> </span> </span>
            <div>
              <span>Name :</span> <span><%= orderDetails.productname  %> </span><br>
              <span>Price :</span> <span><%= orderDetails.price  %> </span><br>
              <span>Quantity :</span> <span><%= orderDetails.quantity  %> </span><br>
              <span>Total Price :</span> <span><%= orderDetails.totalprice  %> </span><br>
              
            </div>                 
          </div>
        </div>
    </div>
  
</div>
<br><br>
<div style= "margin-left: 40%;">
  <form action="/admin/updatestatus" method="POST">
    <select name="status">
    <option value="Pending">Pending</option>
    <option value="On Its Way">On It's Way</option>
    <option value="Delivered">Delivered</option>
    <option value="Refunded">Refunded</option>
    </select>
    <button name="orderid" value=<%= orderDetails.orderid %>>Update</button></td>
</form>
</div>